

.App {
  text-align: center;
}

header {
  background: orange;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.navbar {
  display: flex;
  align-items: center;
  width: 200px;
  justify-content: space-around;
  cursor: pointer;
}

img {
  width: 300px;
  height: 300px;
}

select {
  text-transform: capitalize;
}